
img {
  border:none;
}
table {
  padding:0px;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
}

table.bodyTable th, table.bodyTable td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}
div.clear{
  clear:both;
  visibility: hidden;
}

div.clear hr{
  display: none;
}

.xcenter{
  float:center;
  text-shadow: #7CFC00;
}
#banner {
  padding: 0px;
  height: 80px;
}
#banner img {
  border: none;
  margin-left: 15px;
}

#leftColumn {
 width: 200px;
 float:left;
 overflow: auto;
}
#bodyColumn {
  margin-right: 1.5em;
  margin-left: 217px;
}

#navcolumn {
  padding: 8px 4px 0 8px;
}
#navcolumn h5 {
  margin: 0;
  padding: 0;
  font-size: small;
}
#navcolumn ul {
  margin: 0;
  padding: 0;
  font-size: small;
}
#navcolumn li {
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 16px;
  list-style-position: outside;
  line-height: 1.2em;
  font-size: smaller;
}

#navcolumn img {
  margin-top: 10px;
  margin-bottom: 3px;
}

.section {
  padding: 4px;
}



body {
        background-color: #fff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	background-repeat: repeat-y;
	font-size: 13px;
	padding: 0px;
}
td, select, input, li{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#333333;
}

a {
  text-decoration: none;
}
a:link {
  color:#7a;
}
a:visited  {
  color:#666666;
}
a:active, a:hover {
  color:#990000;
}

h2 {
	font-size: 17px;
	color: #333333;  
}

h3 {
	font-size: 13px;
	color: #333333;
	margin-top: 0px;
    margin-bottom: 6px;
}

p {
  line-height: 1.3em;
  font-size: 12px;
  color: #000;
}

#leftColumn {
	margin: 10px 0 10px 0;
	border-top-color: #ccc;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: #ccc;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: #ccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-right: 5px;
	padding-left: 5px;
}
#navcolumn h5 {
	font-size: smaller;
	border-bottom: 1px solid #aaaaaa;
	padding-top: 2px;
	padding-left: 9px;
	color: #49635a;
	background-repeat: no-repeat;
	background-position: left bottom;
}


.source {
  border: 1px solid #999;
  overflow:auto
}


#navcolumn ul {
	margin: 5px 0 15px -0em;
}
#navcolumn ul a {
	color: #333333;
}
#navcolumn ul a:hover {
	color: red;
}

.subsection {
	margin-left: 3px;
	color: #333333;
}

.subsection p {
	font-size: 12px;
}
#footer {
  padding: 10px;
  margin: 20px 35% 10px 35%;
  border-top: solid #ccc 1px; 
  color: #333333;

  font-size: x-small;
  text-align: center; 
}

#splitter {
  padding: 10px;
  margin: 10px 0px 0px 0px;
  border-top: solid #ccc 1px; 
}

code{
  font-family: "andale mono", monaco, courier, "courier new", monospace;
}
code {
  color: #0066cc;
  background: transparent;
}
.codeblock {
  display: block;
  width: 200pt;
  margin: 1em;
  border: 1px solid #999;
  padding: 1em;
  background: #ffc;
  color: #000;
}

.codeblock_big {
  display: block;
  width: 300pt;
  margin: 1em;
  border: 1px solid #999;
  padding: 1em;
  background: #ffc;
  color: #000;
}

.codeblock_xbig {
  display: block;
  width: 600pt;
  margin: 1em;
  border: 1px solid #999;
  padding: 1em;
  background: #ffc;
  color: #000;
}

.wikitable {
    margin: 5px;
    border-collapse: collapse;
	
}
.wikitable td, .wikitable th {
    border: 1px solid #ccc;
    padding: 3px 4px 3px 4px;
	font-size: 11px;
}
.wikitable th {
    background: #f0f0f0;
    text-align: center;
}
